<html lang="en">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <%= render 'layouts/header' %>
    </div>
    <div class="container" id="page-body">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <%= yield %>
        </div>
      </div>
    </div>
    <div id="footer">
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
