<html lang="en">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cousine" rel="stylesheet">   </head>
  <body class="Site">
    <div id="header">
      <%= render 'layouts/header' %>
    </div>
    <div id="page-body" class="Site-content">
      <%= yield %>
    </div>
    <div id="footer" class="fl-page-footer-wrap">
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
